#!/bin/sh
#
# Load several components for debconf configuration

set -e

. /usr/share/debconf/confmodule

PDNSCONF=/etc/powerdns/pdns.conf

# Check for previous installations
#CONFIGURE=true
#if [ -z "$2" ]; then
#  VERS=`dpkg-query --showformat '${Version}' --show pdns 2>/dev/null || true`
#  if [ -z "$VERS" ]; then
#    CONFIGURE=true
#  else
#    if dpkg --compare-versions $VERS "gt" 2.9.16-6; then
#      CONFIGURE=true
#    else
#      CONFIGURE=false
#    fi
#  fi
#fi

db_version 2.0
#if [ "$CONFIGURE" = "true" ]; then
if [ ! -f $PDNSCONF ]; then
  db_input medium pdns-server/localaddress || true
  db_input medium pdns-server/allowrecursion || true
  db_input medium pdns-server/autostart || true

  db_go || true
else
  LOCAL=`(cat $PDNSCONF | grep "^local-address=" | awk -F '=' '{print $2}') || true`
  RECURSION=`(cat $PDNSCONF | grep "^allow-recursion=" | awk -F '=' '{print $2}') || true`

  if [ ! -z "$RECURSION" ]; then
    db_set pdns-server/allowrecursion "$RECURSION"
  else
    db_set pdns-server/allowrecursion "127.0.0.1"
  fi
  if [ ! -z "$LOCAL" ]; then
    db_set pdns-server/localaddress $LOCAL
  else
    db_set pdns-server/localaddress "0.0.0.0"
  fi
  if [ -f /etc/default/pdns ]; then
    AUTOSTART=`(cat /etc/default/pdns | grep "^START=" | awk -F '=' '{print $2}') || true`
    case "$AUTOSTART" in
      yes|true)
        db_set pdns-server/autostart true
      ;;
      *)
        db_set pdns-server/autostart false
      ;;
    esac
  else
    # It seems there was not a /etc/default/pdns so assume that we always want
    # to start pdns (<< 2.9.16 assumes that you want it started)
    db_set pdns-server/autostart true
  fi

  db_fset pdns-server/allowrecursion seen true
  db_fset pdns-server/localaddress seen true
  db_fset pdns-server/autostart seen true
fi

db_stop || true

exit 0

